// color.scss

// 颜色变量
$primaryColor: #2d8bf7;

$button-bg-default: #f8f9fa;
$button-text-default: #495057;
$button-border-default: #ced4da;

$button-bg-primary: #007bff;
$button-text-primary: #ffffff;
$button-border-primary: #007bff;

$button-bg-secondary: #6c757d;
$button-text-secondary: #ffffff;
$button-border-secondary: #6c757d;
