// section.scss

.c-section {
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  flex: 1; 

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .section-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
